@import url("https://fonts.googleapis.com/css?family=Courier+New+Bold|Nunito+Sans:300,700|Montserrat:300,500|Roboto:300,700");

body { 
	padding: 48px 0 0 0;
	font-family: 'Nunito Sans';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
}

.avatar {
    pointer-events: none;
    border: solid 3px white;
}

.cmu-bg {
  background-image: url('cmu_pano.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fa {
	color: white;
	font-size: 40px;
	width: 50px;
	text-align: left;
}

.fa:hover {
	text-decoration: none;
}

.header-brand {
	font-family: 'Courier New'
}

.header-link {
	font-family: 'Nunito Sans';
	font-size: 14px;
	letter-spacing: 0.25px;
	margin: 10px 0 10px 0;
}

.header-link.active {
	font-family: 'Nunito Sans';
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.25px;
	margin: 0 20px 0 20px;
}

.header-top {
	background-color: #222222;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 0 #dadce0;
	text-align: center;
}

@media (min-width: 768px) {
	body { 
	  padding: 64px 0 0 0;
	}

	.fa {
		color: white;
		font-size: 50px;
		width: 70px;
		text-align: left;
	}

	.header-brand {
		font-family: 'Courier New'
	}

	.header-link {
		font-family: 'Nunito Sans';
		font-size: 14px;
		letter-spacing: 0.25px;
		margin: 0 20px 0 20px;
	}

	.header-link.active {
		font-family: 'Nunito Sans';
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.25px;
		margin: 0 20px 0 20px;
	}

	.header-nav {
		position: relative;
	}

	.header-top {
		background-color: #222222;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 0 #dadce0;
		height: 64px;
	}
}

