@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir/Avenir-Book.ttf');
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/avenir/Avenir-Medium.ttf');
    font-weight: bold;
}

body { 
  padding: 64px 0 0 0;
}

.header-top {
	background-color: white;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

.header-link {
	font-size: 14px;
	letter-spacing: 0.25px;
	margin: 10px 0 10px 0;
}

.avatar {
    pointer-events: none;
}

.header-brand {
	font-family: 'Courier New', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media (min-width: 768px) {
	.header-top {
		background-color: white;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
		height: 64px;
	}

	.header-nav {
		position: relative;
		left: 64px;
	}

	.header-brand {
		margin: 0 0 0 32px;
		font-family: 'Courier New', 'Helvetica Neue', Helvetica, Arial, sans-serif
	}

	.header-link {
		font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
		letter-spacing: 0.25px;
		margin:0 0 0 28px;
	}

	.header-link.active {
		font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.25px;
		margin:0 0 0 28px;
	}
}

