@import url("https://fonts.googleapis.com/css?family=Courier+New+Bold|Open+Sans:300,500|Montserrat:300,700|Muli:300,700");

body { 
	padding: 48px 0 0 0;
	font-family: 'Muli';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
}

.avatar {
    pointer-events: none;
    border: solid 3px white;
}

.fa {
	color: white;
	font-size: 40px;
	text-align: left;
	width: 50px;
}

.fa:hover {
	text-decoration: none;
}

.header-brand {
	font-family: 'Courier New';
	font-size: 18px;
}

.header-link {
	font-family: 'Muli';
	font-size: 14px;
	letter-spacing: 0.25px;
	margin: 10px 0 10px 0;
}

.header-link.active {
	font-weight: bold;
}

.header-top {
	background-color: #222222;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 0 #dadce0;
	text-align: center;
}

.image-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
	.fa {
		color: white;
		font-size: 50px;
		width: 70px;
		text-align: left;
	}

	.header-link {
		margin: 0 30px 0 30px;
	}

	.header-link.active {
		margin: 0 30px 0 30px;
	}

	.header-nav {
		position: relative;
	}

	.header-top {
		height: 48px;
		-webkit-transition: all 0.6s ease-out;
	    -moz-transition: all 0.6s ease-out;
	    -o-transition: all 0.6s ease-out;
	    -ms-transition: all 0.6s ease-out;
	    transition: all 0.6s ease-out;
	}

	.header-top.at-top {
    	background: rgba(0, 0, 0, 0);
    	box-shadow: 0 0 0 0;
	}
}

