@import url("https://fonts.googleapis.com/css?family=Courier+New+Bold|Open+Sans:300,500|Montserrat:300,700|Roboto");

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/avenir/Avenir-Light.ttf');
}

@font-face {
    font-family: "Avenir";
    src: url('/assets/fonts/avenir/Avenir-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Avenir";
    src: url('/assets/fonts/avenir/Avenir-Heavy.ttf');
    font-weight: bold;
}

body { 
    padding: 48px 0 0 0;
    font-family: 'Avenir';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

.avatar {
    pointer-events: none;
    border: solid 3px white;
}

.black-button {
    background-color: #222222;
    color: white;
    display: inline-block;
    font-family: "Avenir";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 6px 0;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.black-button:hover, .black-button:active {
    color: white;
    opacity: 0.5;
    text-decoration: none;
}

.fa {
    color: white;
    font-size: 40px;
    text-align: left;
    width: 50px;
}

.fa:hover {
    text-decoration: none;
}

.header-brand {
    font-family: 'Courier New';
    font-size: 24px;
}

.header-link {
    font-family: 'Avenir';
    font-size: 14px;
    letter-spacing: 0.25px;
    margin: 10px 0 10px 0;
}

.header-link.active {
    font-weight: bold;
}

.header-top {
    background-color: rgba(34, 34, 34, 0.95);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 0 #dadce0;
    text-align: center;

    -webkit-backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    -o-backdrop-filter: blur(6px);
    -ms-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.hr-padding {
    padding-top: 15px;
}

.image-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.navbar-toggler {
    border: none;
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: white;
    height: 2px;
    width: 28px;
    margin: 6px 0 6px 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .2s ease-in-out;
   -moz-transition: transform .2s ease-in-out;
   -o-transition: transform .2s ease-in-out;
   transition: transform .2s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
    transform: rotate(-45deg);
    transform-origin: 90% 50%;
}

.navbar-toggler span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler span:nth-child(3) {
    transform: rotate(45deg);
    transform-origin: 90% 50%;
}

.navbar-toggler.collapsed span:nth-child(1), .navbar-toggler.collapsed span:nth-child(3) {
    transform: rotate(0);
}

.navbar-toggler.collapsed span:nth-child(2) {
    opacity: 1;
}

.square {
    padding-top: 100%;
    position: relative;
}

.square div, .square iframe {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    position: relative;
}

.square iframe {
    height: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    .almost-full-screen {
        width: 100vw;
        padding: 0 0 0 0;
    }

    .almost-full-screen .container-fluid {
        background-color: rgb(45, 45, 45);
        width: 100vw;
    }

    .almost-full-screen .spotlight {
        width: 100vmin;
        padding-top: 100vmin;
    }

    .footer-quote {
        display: none;
    }

    .header-padding {
        padding-top: 0;
    }

    .header-top {
        background: rgba(34, 34, 34, 0.95);
    }

    .hr-padding {
        visibility: hidden;
        height: 0px;
        padding-top: 1px;
    }

    .insta-container {
        width: 100%;
    }

    .insta-footer {
        margin: 24px 0 0 0;
        width: 100%;
    }

    .top-image {
        margin: 14px 0 0 0;
    }

    .showhim {
        padding: 1px;
    }
}

@media (min-width: 768px) {
    .almost-full-screen {
        height: 90vh;
    }

    .almost-full-screen .spotlight {
        width: 60vmin; 
        padding-top: 60vmin;
    }

    .fa {
        font-size: 50px;
        width: 70px;
    }

    .footer-text {
        padding: 0;
    }

    .header-brand {
        font-size: 18px;
    }

    .header-link {
        margin: 0 30px 0 30px;
    }

    .header-padding {
        padding-top: 48px;
    }

    .header-top {
        background: rgba(34, 34, 34, 0.95);
        height: 48px;
    }

    .header-top.animated.at-top {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0;

        -webkit-backdrop-filter: blur(0px);
        -moz-backdrop-filter: blur(0px);
        -o-backdrop-filter: blur(0px);
        -ms-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);

        -webkit-transition: all 0.75s ease-out;
        -moz-transition: all 0.75s ease-out;
        -o-transition: all 0.75s ease-out;
        -ms-transition: all 0.75s ease-out;
        transition: all 0.75s ease-out;
    }

    .header-top.animated:not(at-top) {
        background-color: rgba(34, 34, 34, 0.95);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 0 #dadce0;

        -webkit-backdrop-filter: blur(6px);
        -moz-backdrop-filter: blur(6px);
        -o-backdrop-filter: blur(6px);
        -ms-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);

        -webkit-transition: all 0.75s ease-out;
        -moz-transition: all 0.75s ease-out;
        -o-transition: all 0.75s ease-out;
        -ms-transition: all 0.75s ease-out;
        transition: all 0.75s ease-out;
    }

    .top-image {
        margin: -48px 0 0 0;
    }

    .showhim {
        padding: 15px;
    }

    .square2 {
        padding-top: 100%;
    }
}

.square2 {
    background-size: cover;
    background-position: center;
    padding-top: 100%;
}

.showme { 
    display: none;
}

.showhim:hover .showme {
    display: block;
}

.showhim:hover .ok {
    display: none;
}

