@import url("https://fonts.googleapis.com/css?family=Courier+New+Bold|Open+Sans:300,500|Montserrat:300,700|Muli:300,700");

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/avenir/Avenir-Light.ttf');
}

@font-face {
    font-family: "Avenir";
    src: url('/assets/fonts/avenir/Avenir-Heavy.ttf');
    font-weight: bold;
}

body { 
    padding: 48px 0 0 0;
    font-family: 'Avenir';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

.avatar {
    pointer-events: none;
    border: solid 3px white;
}

.fa {
    color: white;
    font-size: 40px;
    text-align: left;
    width: 50px;
}

.fa:hover {
    text-decoration: none;
}

.header-brand {
    font-family: 'Courier New';
    font-size: 18px;
}

.header-link {
    font-family: 'Avenir';
    font-size: 14px;
    letter-spacing: 0.25px;
    margin: 10px 0 10px 0;
}

.header-link.active {
    font-weight: bold;
}

.header-top {
    background-color: #222222;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 0 #dadce0;
    text-align: center;
}

.image-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.navbar-toggler {
    border: none;
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: white;
    height: 2px;
    width: 28px;
    margin: 6px 0 6px 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .2s ease-in-out;
   -moz-transition: transform .2s ease-in-out;
   -o-transition: transform .2s ease-in-out;
   transition: transform .2s ease-in-out;
}

.navbar-toggler.collapsed span:nth-child(1) {
    transform: rotate(0);
}

.navbar-toggler.collapsed span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler.collapsed span:nth-child(3) {
    transform: rotate(0);
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 10% 50%;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 50%;
}

@media (min-width: 768px) {
    .fa {
        color: white;
        font-size: 50px;
        width: 70px;
        text-align: left;
    }

    .header-link {
        margin: 0 30px 0 30px;
    }

    .header-link.active {
        margin: 0 30px 0 30px;
    }

    .header-nav {
        position: relative;
    }

    .header-top {
        height: 48px;
    }

    .header-top.at-top.animated {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0;
        -webkit-transition: all 0.75s ease-out;
        -moz-transition: all 0.75s ease-out;
        -o-transition: all 0.75s ease-out;
        -ms-transition: all 0.75s ease-out;
        transition: all 0.75s ease-out;
    }
}

